[Desktop Entry]
Type=Application
Name=Install LimaLinux
Comment=Lanzador automático del instalador
Exec=sh -c "sleep 5 && /usr/bin/calamares_wrapper -d"
Icon=calamares
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
